body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--text-color--);
   background:radial-gradient(circle at center bottom,var(--bg-1), var(--bg-2), var(--bg-3), var(--bg-4));
   margin: 0%;
   padding: 0;
   min-height: 100vh;
}
:root {
   --text-color--:rgb(79, 70, 67);
   --nav-bg: #e9e2ddee;
   --card-bg: rgba(66, 64, 64, 0.147);
   --card-color: rgba(207, 202, 202, 0.321);
   --nav-color: #895449;

  --bg-1: rgb(218, 195, 190);
  --bg-2: rgb(218, 195, 190);
  --bg-3: rgba(251, 236, 236, 0.6);
  --bg-4: rgba(205, 181, 181, 0.4);
}
.darkmode {
   --text-color--:#f0eae6;
   --nav-bg: rgba(35, 34, 34, 0.9);
   --card-bg: rgba(35, 33, 32, 0.567);
   --card-color: rgba(94, 92, 92, 0.2);
   --nav-color: #745142;

  --bg-1: rgb(45, 40, 38) 0%;
  --bg-2: rgb(60, 55, 53) 40%;
  --bg-3: rgba(80, 70, 68, 0.6) 85%;
  --bg-4: rgba(55, 45, 43, 0.4) 100%;
}
nav {
   border-bottom: var(--nav-color) solid;
   background-color: var(--nav-bg);
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
   margin-right: 20px;
   margin-left: auto;
   align-items: center;
   list-style-type: none;
   display: flex;
   gap: 25px;
}
nav ul li a {
   text-decoration: none;
   color: var(--text-color--);
   padding: 14px 16px;
   font-weight: 500;
   transition: all 0.3s ease 0s;
}
nav ul li a:hover {
   color: #ba6754;
}
nav img {
   margin-left: 7px;
   margin-top: 10px;
}
#icon {
   margin-bottom: 10px;
   opacity: 0.7;
   margin-right: 10px;
   width: 25px;
   cursor: pointer;
}
.contact-container {
    width: 70%;
    margin: 50px auto;
    padding: 40px 25px;
    text-align: center;
    border-radius: 30px;
   background: var(--card-bg);
    backdrop-filter: blur (30px);
    
}
.contact-container h1 {
   font-size: 50px;
   margin-bottom: 40px;
   color: var(--text-color--);
}
.contact-boxes {
   display: flex;
   justify-content: space-around;
   gap: 20px;
}
.contact-card {
    background: var(--card-color);
    width: 260px;
    height: 230px;
    border-radius: 20px;
    padding-top: 40px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.contact-card:hover{
   transform: scale(0.8);
}
.contact-card .icon i {
    font-size: 60px;
}

.contact-card:nth-child(1) .icon i {
    color: #2f7ff6; 
}

.contact-card:nth-child(2) .icon i { 
   color: #f62fb4;
}

.contact-card:nth-child(3) .icon i {
    color: rgb(49, 146, 49);
}

.contact-card p {
    margin-top: 25px;
    font-size: 16px;
    padding: 50px;
}
@media screen and (max-width: 860px) and (min-width: 481px) {
  .contact-boxes {
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 20px;               
  }
}
@media screen and (max-width: 480px) {
  .contact-boxes {
    flex-direction: column;  
    align-items: center;     
    gap: 20px;               
  }

  .contact-container {
    width: 95%;              
    padding: 20px;
  }

  .contact-card p {
    padding: 0 10px;         
  }
}